<%= render "show_profile/show_message_profile" %>
<body class="body_main">
	<div class="container-fluid" id="primary-content">
		<div class="row one ">
			<div class="col-xs-4 top-left">
				 <a class="dropdown-toggle" data-toggle="dropdown"><img class="profile_pic"src=<%= current_user.avatar.url(:thumb) %>>
			          	<span id="name"><%= current_user.name %></span>
			          <ul class="dropdown-menu">
			            <li><a href="/users/edit">Profile<span class="glyphicon glyphicon-stats pull-right"></span></a></li>
			            <li class="divider"></li>
			            <li><a href="/messages">Messages<span class="badge pull-right"> <%=@invited_requests.length%></span></a></li>
			            <li class="divider"></li>
			            <li><a href="/requests">Vite Requests<span class="badge pull-right"> <%=@requests.length%></span></a></li>
			            <li class="divider"></li>
			    		<li><a href="/invited_list/messages">Your Event Messages<span class="badge pull-right"></span></a></li>
			    		<li class="divider"></li>
			           <li><a href="#"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></a></li>
			         </ul>
			</div>
			<div class="col-xs-4 top-middle">
				<h1 class="logo">Vite</h1>
			</div>
			<div class="col-xs-4 top-right">
				<a href="/"><span class="glyphicon glyphicon-home"></span></a>
			</div>
		</div> <!-- end of row 1 -->
		<div class="row two ">
			<div class="container messages">
				<div class="accordion" id="accordion2">
					  <div class="accordion-group">
			<!--header tab one -->
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
					      	<div class=" glyphicon glyphicon-envelope"></div>
					      	<span class="messages_header_top">Vites</span>
					      </a>
					    </div>
					    <div id="collapseOne" class="accordion-body collapse in">
			<!-- body of tab one -->
					      <div class="accordion-inner">
					        <% @invited_requests.each do |request| %>
						        <div class="messages_profile">
							        <span class="js-hide-vite glyphicon glyphicon-remove messages" data-message-id="<%=request.id%>"> </span>
									<img class="senders_img messages" data-sender-id="<%=request.user.id%>" src="<%=request.post.avatar.url(:thumb)%>">
							        <div class="js-notifications"></div>
							        <span>You got a Vite!</span>
							        <button data-invitation-sender-id="<%= request.user.id %>" data-requestee-id="<%=request.sender.id%>" data-invitation-sender-img="<%=request.user.avatar.url(:thumb)%>" data-invitation-sender-name="<%=request.user.name%>" class="js-message-btn glyphicon glyphicon-comment"> <%= request.user.name %></button><br><br>
						      </div>
						     <%end%>
					    </div>
					  </div>
			<!-- end of first tab of accordian -->

					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
					      	<img class="invitation_sender_img_header">
					      	<div class="glyphicon glyphicon-comment messages"></div>
					        <span class="messages_header">Messages</span>
					      </a>
					    </div>
					    <div id="collapseTwo" class="accordion-body collapse two">
					      <div class="accordion-inner">
			<!-- chat messages -->
			<!-- appending messages to this div -->
							
							<div id="messagesDiv"></div>
			<!-- messages input  -->
							<input type='text' id='messageInput' placeholder='Message'><button class="glyphicon glyphicon-send to_invitee"></button>
							<span id="current_user_name" data-users-name="<%=current_user.name%>" data-current-user-id="<%=current_user.id%>"></span>

					      </div>
					    </div>
					</div>
					
				</div>
			</div>
		</div> <!-- end of row 2 -->
				
		<div class="row three messages">
			
		</div> <!-- end of row three -->
			
	</div> <!-- end of container  -->
</body>