    <% if resource.errors.any? %>
      <ul>
        <% resource.errors.full_messages.each do |err| %>
          <li><%= err %></li>
        <% end %>
      </ul>
    <% end %>


      <div class="container-fluid" id="primary-content">
        <div class="row one settings">
          <div class="col-xs-4 top-left">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="profile_pic"src=<%= current_user.avatar.url(:thumb) %>></a>
                  <ul class="dropdown-menu">
                    <li><a href="/users/<%=current_user.id%>/settings">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                    <li class="divider"></li>
                    <li><a href="/users/edit">Profile<span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                    <li class="divider"></li>
                    <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
                    <li class="divider"></li>
                    <li><a href="#"><%= link_to "Log Out", destroy_user_session_path, method: :delete %><span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                  </ul>
                </li>
              </ul>
                <span id="name"><%= current_user.name %></span>
          </div>
          <div class="col-xs-4 top-middle">
            <h1>Vite</h1>
          </div>
          <div class="col-xs-4 top-right">
            <a href="/"><span class="glyphicon glyphicon-home"></span></a>
          </div>
        </div> <!-- end of row 1 -->
        <div class="row two settings">
          <div class="container">
            <div class="hero-unit">
            <a class="show_profile_link">Show Profile</a><br>
            <%= render "show_profile/show_profile" %>
            <span><%= current_user.name%>  </span>
            <span><%=current_user.age%></span>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), url: users_path, html: { multipart: true }, html: { method: :put }) do |f| %>
                <h1>About me </h1><br/>
                <span id="text"><%= f.text_area :bio%></span>
                <h1>Add pictures</h1>
                <%= f.file_field :pic_one %>
                <%= f.file_field :pic_two %>
                <%= f.file_field :pic_three %>
                <%= f.file_field :pic_four %>
                

                <div class="actions" id="text">
                  <%= f.submit "Update" %>
                </div>
              <% end %><br><br>
              <%= link_to "Back", :back %>

              <p><div id="text"><%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></div></p>

            </div>
          </div>
        </div> <!-- end of row 2 -->
        <div class="row three settings">
          <h1>test</h1>
          
        </div> <!-- end of row three -->
      </div> <!-- end of container  -->




