
	<body>
			<div class="container-fluid" id="primary-content">
				<div class="row one settings">
					<div class="col-xs-4 top-left">
						 <a class="dropdown-toggle" data-toggle="dropdown"><img class="profile_pic"src=<%= current_user.avatar.url(:thumb) %>>
					          	<span id="name"><%= current_user.name %></span>
					          <ul class="dropdown-menu">
					            <li><a href="/users/<%=current_user.id%>/settings">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
					            <li class="divider"></li>
					            <li><a href="/users/edit">Profile<span class="glyphicon glyphicon-stats pull-right"></span></a></li>
					            <li class="divider"></li>
					            <li><a href="/users/<%=current_user.id%>/requests">Vite Requests<span class="badge pull-right"> <%=@requests.length%></span></a></li>
					            <li class="divider"></li>
					            <li><a href="/users/<%=current_user.id%>/messages">Messages<span class="badge pull-right"> <%=@invited_requests.length%></span></a></li>
					            <li class="divider"></li>
					           <li><a href="#"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></a></li>
					          </ul>
					</div>
					<div class="col-xs-4 top-middle">
						<h1>Vite</h1>
					</div>
					<div class="col-xs-4 top-right">
						<a href="/"><span class="glyphicon glyphicon-home"></span></a>
					</div>
				</div> <!-- end of row 1 -->
				<div class="row two settings">
					<div class="container">
						<div class="hero-unit">
							<header>settings</header>
						</div>
					</div>
				</div> <!-- end of row 2 -->
				<div class="row three settings">
					<FOOTER>Vite Copyright 2015 All rights reserved.</FOOTER>
					
				</div> <!-- end of row three -->
			</div> <!-- end of container  -->
	</body>
</html>