
	<body class="body_main">
			<div class="container-fluid" id="primary-content">
				<div class="row one settings">
					<div class="col-xs-4 top-left">
						 <a class="dropdown-toggle" data-toggle="dropdown"><img class="profile_pic"src=<%= current_user.avatar.url(:thumb) %>>
					          	<span id="name"><%= current_user.name %></span>
					          <ul class="dropdown-menu">
					            <li><a href="/settings">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
					            <li class="divider"></li>
					            <li><a href="/users/edit">Profile<span class="glyphicon glyphicon-stats pull-right"></span></a></li>
					            <li class="divider"></li>
					            <li><a href="/messages">Messages<span class="badge pull-right"> <%=@invited_requests.length%></span></a></li>
					            <li class="divider"></li>
					            <li><a href="/requests">Vite Requests<span class="badge pull-right"> <%=@requests.length%></span></a></li>
					            <li class="divider"></li>
					    		<li><a href="/invited_list/messages">Your Event<span class="badge pull-right"></span></a></li>
					    		<li class="divider"></li>
					           <li><a href="#"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></a></li>
					         </ul>
					</div>
					<div class="col-xs-4 top-middle">
						<h1>Vite</h1>
					</div>
					<div class="col-xs-4 top-right">
						<a href="/"><span class="glyphicon glyphicon-home"></span></a>
					</div>
				</div> <!-- end of row 1 -->
				<div class="row two settings">
					<div class="container">
							<% if @requests == [] %>
								<h1>No new requests</h1>
							<%end%>
							<% @requests.each do |request| %>
								<div class="request_profiles">
									<span class="senders_name"><%=request.sender.name%></span>
									<img class="senders_img" data-sender-id="<%=request.sender.id%>" src="<%=request.sender.avatar.url(:thumb)%>">

						<!-- green accept button -->

									<button type="button" data-request-id="<%=request.id%>"class="btn btn-circle vite" data-event-creator-id="<%= current_user.id %>">Vite <span class="glyphicon glyphicon-envelope accept pull-right" aria-hidden="true"></span></button>
						<!-- message link on acceptance -->
									<a class="message" href="/invited_list/messages">Message, <%=request.sender.name%></a>
						<!-- yellow next time button -->

									<button type="button" data-request-id="<%=request.id%>" data-current-user= "<%= current_user.id %>"class="btn btn-circle next_time">Next Time <span class="glyphicon glyphicon-remove decline pull-right" aria-hidden="true"></span></button><br><br>
						
								</div>
							<%end%>
					</div>
				</div> <!-- end of row 2 -->
			</div> <!-- end of container  -->
	</body>
	<%= render "show_profile/show_senders_profile" %>
</html>