
	<body>
			<div class="container-fluid" id="primary-content">
				<div class="row one settings">
					<div class="col-xs-4 top-left">
						<ul class="nav navbar-nav">
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="profile_pic"src=<%= current_user.avatar.url(:thumb) %>></a>
				          <ul class="dropdown-menu">
				            <li><a href="/users/<%=current_user.id%>/settings">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
				            <li class="divider"></li>
				            <li><a href="/users/edit">Profile<span class="glyphicon glyphicon-stats pull-right"></span></a></li>
				            <li class="divider"></li>
				            <li><a href="/users/<%=current_user.id%>/requests">Vite Requests<span class="badge pull-right"> 0 </span></a></li>
				            <li class="divider"></li>
				            <li><a href="/users/<%=current_user.id%>/messages">Messages<span class="badge pull-right"> 0 </span></a></li>
				            <li class="divider"></li>
				            <li><a href="#"><%= link_to "Log Out", destroy_user_session_path, method: :delete %><span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
				          </ul>
				        </li>
				      </ul>
					</div>
					<div class="col-xs-4 top-middle">
						<h1>Vite</h1>
					</div>
					<div class="col-xs-4 top-right">
						<a href="/"><span class="glyphicon glyphicon-home"></span></a>
					</div>
				</div> <!-- end of row 1 -->
				<div class="row two settings">
					<div class="container">
						<div class="hero-unit request">
							<% if @requests == [] %>
								<h1>No new requests</h1>
							<%end%>
							<% @requests.each do |request| %>
								<div class="request_profiles">
									<img class="senders_img" data-sender-id="<%=request.sender.id%>" src="<%=request.sender.avatar.url(:thumb)%>">
									<span class="senders_name"><%=request.sender.name%></span>

						<!-- green accept button -->

									<button type="button" data-request-id="<%=request.id%>"class="btn btn-circle vite" data-event-creator-id="<%= current_user.id %>">Vite <span class="glyphicon glyphicon-envelope accept pull-right" aria-hidden="true"></span></button>

										<!-- yellow next time button -->

									<button type="button" data-request-id="<%=request.id%>" data-current-user= "<%= current_user.id %>"class="btn btn-circle next_time">Next Time <span class="glyphicon glyphicon-remove decline pull-right" aria-hidden="true"></span></button>
										<!-- invited  -->
									<div class="invited">
										Invited
									</div>
									<div class="message">
										<a href="/users/<%= current_user.id %>/messages">Message</a>
									</div>
								</div><br><br>
							<%end%>
						</div>
					</div>
				</div> <!-- end of row 2 -->
				<div class="row three settings">
					<FOOTER>Vite Copyright 2015 All rights reserved.</FOOTER>
					
				</div> <!-- end of row three -->
			</div> <!-- end of container  -->
	</body>
	<%= render "show_profile/show_senders_profile" %>
</html>