<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vite Feed</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body class="body_main">
		<div class="container-fluid" id="primary-content">
			<div class="row one">
				<div class="col-xs-4 top-left">
					 
				      <% if !user_signed_in? %>
					      <div class="initial_login">
							<a class="log_in">Login</a>  or 
							<a class="sign_up">Sign up</a>
						  </div>
						  <ul class="nav navbar-nav">
					        <li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
					          <ul class="dropdown-menu">
					            <li><a>Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
					            <li class="divider"></li>
					            <li><a>Profile<span class="glyphicon glyphicon-stats pull-right"></span></a></li>
					            <li class="divider"></li>
					            <li><a>Messages <span class="badge pull-right"> 42 </span></a></li>
					            <li class="divider"></li>
					           <li><a>Log out<span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
					          </ul>
					        </li>
					      </ul>
					  <% else %>
						
						<span id="name"><%= current_user.name %></span>
				
						  <ul class="nav navbar-nav">
					        <li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="profile_pic"src=<%= current_user.avatar.url(:thumb) %>>
					          <ul class="dropdown-menu">
					            <li><a href="/users/<%=current_user.id%>/settings">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
					            <li class="divider"></li>
					            <li><a href="users/edit">Profile<span class="glyphicon glyphicon-stats pull-right"></span></a></li>
					            <li class="divider"></li>
					            <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
					            <li class="divider"></li>
					           <li><a href="#"><%= link_to "Log Out", destroy_user_session_path, method: :delete %><span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
					          </ul>
					        </li>
					      </ul>
					  <%end%>

				</div>
				<div class="col-xs-4 top-middle">
					<h1 class="logo">VITE</h1>
				</div>
				<div class="col-xs-4 top-right">
					<a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
				</div>
			</div> <!-- end of row 1 -->
			<div class="row two">
				<div class="container">
					<div class="hero-unit">
						<% @posts.each_with_index do |post, i| %>
							<div class="post <%= i == 0 ? "active" : "" %>">
								<img data-id=<%= post.user_id %> class="img-responsives" src="<%= post.avatar.url %>">
								<div class="post-details-container">
										<div class="details">
											<span><%= post.venue %></span><br>
											<span>In: <%= post.time %>hrs</span><br>
											<div>
											  <input type="checkbox" class="read-more-state" id="post-1" />
												
											  <p class="read-more-wrap"><%= post.description[0..30] %><span class="read-more-target"><%= post.description[30..-1] %></span></p>
											  
											  <label for="post-1" class="read-more-trigger"></label>
											</div>
										</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div> <!-- end of row 2 -->
			<div class="row three">
				<div class="col-xs-6 middleleft">
					<button type="button" class="btn btn-next btn-circle red"><span class="glyphicon glyphicon-remove"></span></button>
					<% if user_signed_in? %>
						<a href="/users/<%= current_user.id %>/posts/new" class="post-link"><span class="glyphicon glyphicon-pencil"></span></a>
					<% end %>
				</div>
				<div class="col-xs-6 middleright">
					<button type="button" class="btn btn-request-vite btn-circle green"><i class="glyphicon glyphicon-ok"></i></button>
				</div>
				
			</div> <!-- end of row three -->
		</div> <!-- end of container  -->
		<%= render "auth/log_in" %>
		<%= render "auth/sign_up" %>
		<%= render "show_profile/show_events_profile" %>
		 
</body>
</html>