
<body class="body_main">
	<div class="container-fluid" id="primary-content">
		<div class="row one">
			<% if !user_signed_in? %>
				<div class="col-xs-4 top-left">		
					<div class="initial_login">
						<a class="log_in">Login</a>  or 
						<a class="sign_up">Sign up</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="dropdown">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
					          
					    </li>
					</ul>
				</div>
					<div class="col-xs-4 top-middle">
						<h1 class="logo">VITE</h1>
					</div>	
			<% else %>
				<div class="col-xs-4 top-left">
					<a class="dropdown-toggle" data-toggle="dropdown"><img class="profile_pic"src=<%= current_user.avatar.url(:thumb) %>>
					<span id="name" ><%= current_user.name %></span>
					<ul class="dropdown-menu">
						<li><a href="/users/<%=current_user.id%>/settings">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
					    <li class="divider"></li>
					    <li><a href="users/edit">Profile<span class="glyphicon glyphicon-stats pull-right"></span></a></li>
					   	<li class="divider"></li>
					    <li><a href="/users/<%=current_user.id%>/requests">Vite Requests<span class="badge pull-right"> <%= @requests.length %></span></a></li>
					    <li class="divider"></li>
					    <li><a href="/users/<%=current_user.id%>/messages">Messages<span class="badge pull-right"> <%= @invited_requests.length %></span></a></li>
					    <li class="divider"></li>
					    <li><a href="#"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></a></li>
					</ul>

				</div>
				<div class="col-xs-4 top-middle">
					<h1 class="logo">VITE</h1>
				</div>	
				<div class="col-xs-4 top-right">
					<a href="/users/<%=current_user.id%>/requests"><span class="glyphicon glyphicon-list-alt"></span></a>
				</div>
			<%end%>
	</div><!-- end of row 1 -->

			<div class="row two">
				<div class="container">
					<div class="hero-unit">
						<% @posts.each_with_index do |post, i| %>
							<div class="post <%= i == 0 ? "active initial" : "" %>" data-post-id="<%=post.id%>">
								<img data-id="<%= post.user.id %>" class="post_img" src="<%= post.avatar.url %>">
								<div class="post-details-container">
										<div class="details">
											<center>
											<strong><span><%= post.venue %></span></strong><br>
											<strong><span>In: <%= post.time %>hrs</span></strong><br>
											</center>
											  <p><%= post.description %></p>
										</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div> <!-- end of row 2 -->
			<div class="row three">
				<div class="col-xs-6 middleleft">
					<button type="button" class="btn btn-next btn-circle red"><span class="glyphicon glyphicon-remove"></span></button>
					<% if user_signed_in? %>
						<a href="/users/<%= current_user.id %>/posts/new" class="post-link"><span class="glyphicon glyphicon-pencil"></span></a>
					<% end %>
				</div>
				<div class="col-xs-6 middleright">
					<% if user_signed_in? %>
					<button type="button" class="btn btn-request-vite btn-circle green" data-sender-id="<%= current_user.id %>"><i class="glyphicon glyphicon-ok"></i></button>
					<% else %>
					<button type="button" class="btn btn-request-vite btn-circle green"><i class="glyphicon glyphicon-ok"></i></button>
					<%end%>

				</div>
				
			</div> <!-- end of row three -->
		</div> <!-- end of container  -->
		<%= render "auth/log_in" %>
		<%= render "auth/sign_up" %>
		<%= render "show_profile/show_events_profile" %>
		 
</body>
</html>