
	<body class="body_main">
			<div class="container-fluid" id="primary-content">
				<div class="row one settings">
					<div class="col-xs-4 top-left">
					 <a class="dropdown-toggle" data-toggle="dropdown"><img class="profile_pic"src=<%= current_user.avatar.url(:thumb) %>>
					          	<span id="name"><%= current_user.name %></span>
					          <ul class="dropdown-menu">
					            <li><a href="/users/<%=current_user.id%>/settings">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
					            <li class="divider"></li>
					            <li><a href="users/edit">Profile<span class="glyphicon glyphicon-stats pull-right"></span></a></li>
					            <li class="divider"></li>
					            <li><a href="/users/<%=current_user.id%>/requests">Vite Requests<span class="badge pull-right"> <%=@requests.length%></span></a></li>
					            <li class="divider"></li>
					            <li><a href="/users/<%=current_user.id%>/messages">Messages<span class="badge pull-right"> <%=@invited_requests.length%></span></a></li>
					            <li class="divider"></li>
					           <li><a href="#"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></span></a></li>
					          </ul>
					</div>
					<div class="col-xs-4 top-middle">
						<h1>Vite</h1>
					</div>
					<div class="col-xs-4 top-right">
						<a href="/"><span class="glyphicon glyphicon-home"></span></a>
					</div>
				</div> <!-- end of row 1 -->
				<div class="row two settings">
					<div class="container">
						<div class="hero-unit form">
							<div class="animate dropIn">
								<div id="wrapper">
									<%= form_for [@users, @post] do |f| %>
									<h1>Create Vite</h1><br><br>
									<%= f.file_field :avatar %><br><br>
								    <%= f.label :title %><br>
								    <span id="text"><%= f.text_field :venue%></span><br>
								    <%= f.label :time %><br>
								    <span id="text"><%= f.number_field :time, :placeholder => "In how many hours?"%></span><br>
								    <%= f.label :description %><br>
								    <span id="text"><%= f.text_area :description%></span><br>
								    
								    <span id="text"><%= f.submit "Create Vite" %></span>
								  
								<% end %>
								
							</div>
						</div>
					</div>
				</div> <!-- end of row 2 -->
				<div class="row three settings">
					<FOOTER>Vite Copyright 2015 All rights reserved.</FOOTER>
				</body>
				